<h1>{{ question.question_text }}</h1>

{% if error_messsage %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<!--
    ここから下がHTMLのフォームの要素
-->
<form action="{% url 'polls:vote' question.id %}" method="post">
{% csrf_token %}
{% for choice in question.choice_set.all %}
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{choice.id }}">
    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
{% endfor %}
<input type="submit" value="Vote">
</form>

<!--
上のテンプレートは各質問の選択肢のラジオボタンが表示するもの
各ラジオボタンのvalueは、関連する質問の選択肢のid。
各ラジオボタンのnameは'choice'。
つまり、投票者がラジオボタンの一つを選択し、フォームを送信すると、
POSTデータchoice=#(#:選んだid)が送信される
➡これはHTMLフォームの基本的な概念！
-->
